<h1>Ciencia Lab</h1>
<p>Visite nuestros cursos</p>
<% if current_user.nil? %>
<%= link_to "Explorar Cursos", courses_path %>
<% else %>
<%= link_to "Explorar Cursos", courses_path %> ||
<%= link_to "Mis Cursos Enrrolados", mis_cursos_enrrolados_course_enrollments_path(course_id: @enrollments) %> ||
<%raise%> 
<%= link_to "Mis Cursos Creados", mis_cursos_creados_courses_path %>
<% end %>


No route matches {:action=>"mis_cursos_enrrolados", :controller=>"enrollments", :course_id=>nil}, possible unmatched constraints: [:course_id]