<div class="container p-3">
<p><%= simple_form_for [@course, @enrollment, @lesson, comment] do |f| %>
<%= f.input :comment, label: label_input_comment %>
<button class="btn btn-success mb-3" role="buttom"><%= f.button :submit, label_summit, class: "text-white" %></button>
<% end %>
<% path_volver = course_enrollment_lesson_path(@course, @enrollment, @lesson)%>
  <div class="mt-3">
  	<button class="btn btn-secondary" role="buttom"><%= link_to 'Volver', path_volver, class: "text-white" %></button>
	</div>
</div>
