<h1>Sobre el Curso</h1>
<h1>Nombre del curso: <%= @course.name %></h1>
<p>Descripción del curso: <%= @course.description %></p>
<p>Precio del curso: <%= @course.lessons.name %></p>
<br/>
<%= link_to "Volver a cursos", courses_path %>
