<div class="bg-home">
  <div class="container">
    <button class="btn mt-button btn-success btn-right" role="buttom"><%= link_to "Explorar Cursos", courses_path, class: "text-white" %></button>
  </div>
</div>