<h1>Comments#new</h1>
<p><%= simple_form_for(comments)  do |f| %>
<% %>
<% end %></p>
new_course_enrollment_lesson_comment GET    /courses/:course_id/enrollments/:enrollment_id/lessons/:lesson_id/comments/new(.:format)      comments#new